@import url(https://fonts.googleapis.com/css?family=Raleway);

$usual-primary-blue: #043962;

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #043962;
        color: white;
        text-align: center;
        font-family: Raleway, Arial, sans-serif;
     }
    