<header>
    <div class="head">
        <div class="container">
            <nav>
                <ul>
                    <li><a>Clients</a></li>
                    <li><a>Consultants</a></li>
                    <li><a>Managers</a></li>
                    <li><a title="Créer une nouvelle mission">Nouvelle mission</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="foot">
        <div class="container">
            <a>
                <img class="ALTEN-logo" src="assets/img/ALTEN-white-logo.png" alt="Logo ALTEN">
            </a>
            <div class="content">
                <div class="user">
                    <i class="material-icons">account_circle</i>
                    Cyprien de Turckheim
                </div>
                    <a title="Déconnexion" class="material-icons">power_settings_new</a>
            </div>
        </div>
    </div>
</header>