<header>
    <div class="head">
        <div class="container">
            <nav>
                <ul>
                    <li><a>Clients</a></li>
                    <li><a>Consultants</a></li>
                    <li class="border"><a title="Créer une nouvelle mission">Nouvelle mission</a></li>
                    <li><a>CDR</a></li>
                    <li><a>Managers</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="foot">
        <div class="container">
            <a>
                <img class="ALTEN-logo" src="assets/img/ALTEN-white-logo.png" alt="Logo ALTEN">
            </a>
            <div class="content">
                <div class="user">
                    <mat-icon>account_circle</mat-icon>
                    Cyprien de Turckheim
                </div>
                    <mat-icon title="Déconnexion" (click)="onLogOut()">power_settings_new</mat-icon>
            </div>
        </div>
    </div>
</header>