<mat-form-field [appearance]="appearance">
  <mat-label>Mot de passe</mat-label>
  <input matInput [type]="hidden ? 'password' : 'text'" (input)="onInput()" [formControl]="formCtrl" [errorStateMatcher]="errStateMatcher" [placeholder]="placeholder">
  <button mat-icon-button matSuffix (click)="onVisibility()">
    <mat-icon>{{hidden ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="formCtrl.hasError('required')">
    Le mot de passe est <strong>obligatoire</strong>
  </mat-error>
</mat-form-field>